<div class="title-bar" onclick="location.href='/'">
    <div class="title-bar-left">
        <img src="/images/logo4.png">
    </div>
    <div class="title-bar-right">
        <button type="button" class="btn btn-outline-primary" id="myPage">내 정보</button>
        <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button>
    </div>
</div>

<div id="loading">
    <img src="/images/loading.gif" alt="Loading..."/>
</div>


<script>
    <%- include ('../common/request.js') %>
    <%- include ('header.js') %>
</script>