<div class="title-bar" onclick="location.href='/'">
    <img src="/images/logo4.png">
    <button type="button" class="btn btn-primary" id="logout">로그아웃</button>
</div>


<script>
    const token = $.cookie('token');

    // 로그인이 안되어있으면 로그인으로
    if (token === undefined || token == "null") {
        location.href = "/login";
    }

    //로그아웃
    $("#logout").click(function () {
        $.cookie('token',null,{path:'/login'});
        var cookies = $.cookie();
        for(var cookie in cookies) {
            $.removeCookie(cookie);
        }
    });

</script>