<div class="title-bar" onclick="location.href='/'">
    <div class="title-bar-left">
        <img src="/images/logo4.png">
    </div>
    <div class="title-bar-right">
        <button type="button" class="btn btn-outline-primary" id="myPage">내 정보</button>
        <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button>
    </div>
</div>


<script>
    const token = $.cookie('token');
    // 로그인이 안되어있으면 로그인으로
    if (token === undefined || token == "null") {
        location.href = "/login";
    }

    //로그아웃
    function logout() {
        $.cookie('token', null, {path: '/login'});
        let cookies = $.cookie();
        for (let cookie in cookies) {
            $.removeCookie(cookie);
        }
        location.href = "/login";
    }

    //내 정보
    $("#myPage").click(function () {
        location.href = "/my-page";
        return false;
    });

    <%- include ('../common/request.js') %>
</script>