<div class="title-bar">
    <div class="title-bar-left" onclick="location.href='/'">
        <img src="/images/logo4.png">
    </div>
    <div class="title-bar-right">
        <span class="name"><span id="myName"></span> 님 환영합니다</span>
        <button type="button" class="btn btn-outline-success" onclick="location.href = '/my-page'" id="myPage">내 정보</button>
        <button type="button" class="btn btn-success" onclick="logout()">로그아웃</button>
    </div>
</div>

<div id="loading">
    <img src="/images/loading.gif" alt="Loading..."/>
</div>


<script>

    <%- include ('header.js') %>
    <%- include ('../common/check-data.js') %>
    <%- include ('../common/request.js') %>

</script>