<div class="title-bar" onclick="location.href='/'">
    <div class="title-bar-left">
        <img src="/images/logo4.png">
    </div>
    <div class="title-bar-right">
        <button type="button" class="btn btn-outline-primary" id="myPage">내 정보</button>
        <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button>
    </div>
</div>

<div id="loading">
    <img src="/images/loading.gif" alt="Loading..."/>
</div>


<script>
    const token = $.cookie('token');
    // 로그인이 안되어있으면 로그인으로
    if (token === undefined || token == "null") {
        location.href = "/login";
    }

    //로그아웃
    function logout() {
        $.cookie('token', null, {path: '/login'});
        let cookies = $.cookie();
        for (let cookie in cookies) {
            $.removeCookie(cookie);
        }
        location.href = "/login";
    }

    //내 정보
    $("#myPage").click(function () {
        location.href = "/my-page";
        return false;
    });

    //api 요청
    function request(url, processFunc) {
        $.ajax({
            type: "POST",
            headers: {'token': $.cookie('token')},
            url: '<%= api %>' + url,
            success: function (res) {
                processFunc(res);
            },
            error: function (err) {
                processFunc(err);
            }
        });
    }

    //api 요청 (data 포함)
    function requestWithData(url, data, processFunc) {
        $.ajax({
            type: "POST",
            url: '<%= api %>' + url,
            headers: {'token': $.cookie('token')},
            contentType: 'application/json; charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (res) {
                processFunc(res);
            },
            error: function (err) {
                processFunc(err);
            }
        });
    }
    <%- include ('../common/request.js') %>
</script>