<div class="side-bar scroll">
    <div id="nav">
        <ul class="menu">
            <li id="homeMenu"><a href="/">
                    <span>
                        <i class="ri-home-4-fill"></i>
                    </span>
                    홈
                </a>
            </li>

            <li id="scheduleMenu"><a href="/schedule">
                    <span>
                        <i class="ri-calendar-fill"></i>
                    </span>
                    일정</a>
            </li>

            <li id="vacationMenu"><a href="/vacation">
                    <span>
                        <i class="ri-plane-line"></i>
                    </span>
                    휴가</a>
            </li>

            <li id="attendanceMenu"><a href="/attendance">
                    <span>
                        <i class="ri-time-fill"></i>
                    </span>
                    출퇴근</a>
            </li>

            <li id="boardMenu"><a href="#">
                    <span>
                        <i class="ri-clipboard-fill"></i>
                    </span>
                    게시판</a>
                <ul class="sub">
                    <li id="noticeMenu"><a href="/board/notice?searchType=&keyword=&page=1">공지게시판</a></li>
                    <li id="workMenu"><a href="/board/work?searchType=&keyword=&page=1">업무게시판</a></li>
                </ul>
            </li>

            <li id="approveMenu"><a href="#">
                    <span>
                        <i class="ri-send-plane-fill"></i>
                    </span>
                    요청</a>
                <ul class="sub">
                    <li><a href="/approve/attendance">출퇴근 정정요청 관리</a></li>
                    <li><a href="/approve/vacation">휴가 신청 관리</a></li>
                </ul>
            </li>

            <li><a href="#">
                    <span>
                        <i class="ri-function-fill"></i>
                    </span>
                    관리</a>
                <ul class="sub">
                    <li><a href="#">직원관리</a></li>
                    <li><a href="#">부서관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>