<div class="side-bar scroll">
    <div id="nav">
        <ul class="menu">
            <li id="homeMenu"><a href="/">
                    <span>
                        <i class="ri-home-4-fill"></i>
                    </span>
                    홈
                </a>
            </li>

            <li id="scheduleMenu"><a href="/schedule">
                    <span>
                        <i class="ri-calendar-fill"></i>
                    </span>
                    일정</a>
            </li>

            <li id="vacationMenu"><a href="/vacation">
                    <span>
                        <i class="ri-plane-line"></i>
                    </span>
                    휴가</a>
            </li>

            <li id="attendanceMenu"><a href="/attendance">
                    <span>
                        <i class="ri-time-fill"></i>
                    </span>
                    출퇴근</a>
            </li>

            <li id="boardMenu"><a href="#">
                    <span>
                        <i class="ri-clipboard-fill"></i>
                    </span>
                    게시판</a>
                <ul class="sub">
                    <li id="noticeSubMenu"><a href="/board/notice?searchType=&keyword=&page=1">공지게시판</a></li>
                    <li id="workSubMenu"><a href="/board/work?searchType=&keyword=&page=1">업무게시판</a></li>
                </ul>
            </li>

            <li id="equipmentMenu"><a href="#">
                    <span>
                        <i class="ri-tools-fill"></i>
                    </span>
                    비품</a>
                <ul class="sub">
                    <li id="applySubMenu"><a href="/equipment/apply">비품 신청하기</a></li>
                    <li id="manageSubMenu" style="display: none"><a href="/equipment/manage?searchType=&page=1">요청 목록</a></li>
                </ul>
            </li>

            <li id="approveMenu" style="display: none"><a href="#">
                    <span>
                        <i class="ri-send-plane-fill"></i>
                    </span>
                    요청</a>
                <ul class="sub">
                    <li id="attendanceSubMenu"><a href="/approve/attendance">출퇴근 정정요청 관리</a></li>
                    <li id="vacationSubMenu"><a href="/approve/vacation">휴가 신청 관리</a></li>
                </ul>
            </li>

            <li id="manageMenu" style="display: none"><a href="#">
                    <span>
                        <i class="ri-function-fill"></i>
                    </span>
                    관리</a>
                <ul class="sub">
                    <li id="memberSubMenu"><a href="/manage/member">직원 관리</a></li>
                    <li id="recordSubMenu"><a href="/manage/record">출근 기록 관리</a></li>
                    <li id="departmentSubMenu" style="display: none"><a href="/manage/department">부서 관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>