<div class="side-bar scroll">
    <div id="nav">
        <ul class="menu">
            <li id="menuHome"><a href="/">
                    <span>
                        <i class="ri-home-4-fill"></i>
                    </span>
                    홈
                </a>
            </li>
            <li id="menuSchedule"><a href="/schedule">
                    <span>
                        <i class="ri-calendar-fill"></i>
                    </span>
                    일정</a>
            </li>
            <li id="menuVacation"><a href="/vacation">
                    <span>
                        <i class="ri-plane-line"></i>
                    </span>
                    휴가</a>
            </li>

            <li><a href="/attendance">
                    <span>
                        <i class="ri-time-fill"></i>
                    </span>
                    출퇴근</a>
<!--                <ul class="sub">-->
<!--                    <li><a href="#">정정 요청</a></li>-->
<!--                </ul>-->
            </li>

            <li><a href="#">
                    <span>
                        <i class="ri-send-plane-fill"></i>
                    </span>
                    요청</a>
                <ul class="sub">
                    <li><a href="#">휴가일정 생성 요청</a></li>
                    <li><a href="#">출퇴근 정정 요청</a></li>
                </ul>
            </li>

            <li><a href="#">
                    <span>
                        <i class="ri-function-fill"></i>
                    </span>
                    관리</a>
                <ul class="sub">
                    <li><a href="#">직원관리</a></li>
                    <li><a href="#">부서관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>