<div class="row">
    <div class="title" id="scheduleTitle">
    </div>
    <span class="time" id="scheduleTime"></span>
</div>
<hr>
<div class="row memo scroll" id="scheduleMemo" style="overflow-y: auto;max-height: 30rem;height: 30rem">
</div>
<hr>
<div class="row" style="display: block;">
    <div style="float: right;width: fit-content">
        <button type="button" class="btn btn-secondary" onclick="typeSchedule('update')"
                data-bs-toggle="modal" data-bs-target="#saveScheduleModal">수정
        </button>
        <button type="button" class="btn btn-danger" onclick="deleteAlertSchedule()">삭제</button>
    </div>
</div>