<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
</head>

<header>
    <%- include ('../part/header.ejs') %>

</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">

</div>
</body>

</html>

<script>

</script>