<div class="modal fade" id="scheduleModal" tabindex="-1"
     aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 60rem !important;">
        <div class="modal-content">
            <div class="modal-header">
                <div>일정</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body schedule-write">
                <table>
                    <tbody>
                    <tr>
                        <th width="25%">제목</th>
                        <td>
                            <input type="text" id="scheduleTitle">
                        </td>
                    </tr>
                    <tr id="scheduleMemberView" style="display: none">
                        <th width="25%">작성자</th>
                        <td id="scheduleMember"></td>
                    </tr>
                    <tr>
                        <th>공개범위</th>
                        <td>
                            <select id="scheduleViewOption">
                                <option value="own">개인</option>
                                <option value="dep">부서</option>
                                <option value="all">전체</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>시작</th>
                        <td>
                            <input type="date" id="scheduleStartDate">
                            <span class="time-select">
                                <select id="startTime1">
                                    <option value="am" selected>오전</option>
                                    <option value="pm">오후</option>
                                </select>
                                <select id="startTime2">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option selected>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                :
                                <input type="text" id="startTime3" maxlength="2"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>종료</th>
                        <td>
                            <input type="date" id="scheduleEndDate">
                            <span class="time-select">
                                <select id="endTime1">
                                    <option value="am">오전</option>
                                    <option value="pm" selected>오후</option>
                                </select>
                                <select id="endTime2">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option selected>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                :
                                <input type="text" id="endTime3" maxlength="2"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea class="scroll" id="scheduleMemo"
                                      onkeyup="countTextLength('scheduleMemoTextCnt', this, 255)"></textarea>
                            <div id="scheduleMemoTextCnt">(0 / 255)</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="scheduleFooter">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vacationModal" tabindex="-1"
     aria-labelledby="vacationModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 60rem !important;">
        <div class="modal-content">
            <div class="modal-header">
                <div>휴가</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body schedule-write" style="padding: 7rem 3rem !important;">
                <table>
                    <tbody>
                    <tr>
                        <th width="30%">부서</th>
                        <td width="70%" id="vacationDep"></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td id="vacationAuthor"></td>
                    </tr>
                    <tr>
                        <th>휴가유형</th>
                        <td id="vacationType"></td>
                    </tr>
                    <tr>
                        <th>휴가기간</th>
                        <td id="vacationDate"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>