<div class="modal fade" id="scheduleModal" tabindex="-1"
     aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 60rem !important;">
        <div class="modal-content">
            <div class="modal-header">
                <div>일정</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body schedule-write">
                <table>
                    <tbody>
                    <tr>
                        <th width="25%">제목</th>
                        <td>
                            <input type="text" id="scheduleTitle">
                        </td>
                    </tr>
                    <tr id="scheduleMemberView" style="display: none">
                        <th width="25%">작성자</th>
                        <td id="scheduleMember"></td>
                    </tr>
                    <tr>
                        <th>공개범위</th>
                        <td>
                            <select id="scheduleViewOption">
                                <option value="own">개인</option>
                                <option value="dep">부서</option>
                                <option value="all">전체</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>시작</th>
                        <td>
                            <input type="date" id="scheduleStartDate">
                            <input type="time" id="scheduleStartTime">
                        </td>
                    </tr>
                    <tr>
                        <th>종료</th>
                        <td>
                            <input type="date" id="scheduleEndDate">
                            <input type="time" id="scheduleEndTime">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea class="scroll" id="scheduleMemo"
                                      onkeyup="countTextLength('scheduleMemoTextCnt', this, 255)"></textarea>
                            <div id="scheduleMemoTextCnt">(0 / 255)</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="scheduleFooter">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vacationModal" tabindex="-1"
     aria-labelledby="vacationModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 60rem !important;">
        <div class="modal-content">
            <div class="modal-header">
                <div>휴가</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body schedule-write">
                <table>
                    <tbody>
                    <tr>
                        <th>작성자</th>
                        <td id="vacationAuthor"></td>
                    </tr>
                    <tr>
                        <th>휴가유형</th>
                        <td id="vacationType"></td>
                    </tr>
                    <tr>
                        <th>휴가기간</th>
                        <td>
                            <span id="vacationStart"></span> ~ <span id="vacationEnd"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>휴가사유</th>
                        <td id="vacationMemo"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>