#main .row {
    width: 80rem;
    margin-bottom: 2rem;
    display: block;
    --bs-gutter-x: 0;
}

#vacationList tr,
#attendanceList tr,
#vacationHistoryList tr{
    cursor: pointer;
}

#vacationList tr:hover,
#attendanceList tr:hover,
#vacationHistoryList tr:hover{
    background: #f9f9f9;
}

#approver1, #approver2 {
    text-align: center;
}

.bottom {
    float: right;
    width: fit-content;
}

.vacation-search {
    display: flex;
    align-items: center;
    width: fit-content;
    float: right;
    font-size: 1.4rem;
}

.vacation-search input {
    width: fit-content
}