.fc-daygrid-day-frame {
    cursor: pointer;
}

.fc-daygrid-day-frame:hover {
    background: #f8fcff;
}

#applyTable tr {
    cursor: pointer;
}

#applyTable tr:hover {
    background: #f8fcff;
}

.modal table th {
    width: 25%;
}

.modal table td {
    text-align: left;
}

.write input[type=text],
.write textarea {
    width: 100%;
}

.write textarea {
    min-height: 20rem;
    height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
}

.write input[type=date],
.write input[type=time] {
    width: 15rem;
}

#myApplyList tr {
    cursor: pointer;
}

#myApplyList tr:hover {
    background: #f9f9f9;
}

#approveForm {
    margin-bottom: 5px;
    display: inline-block
}

#approveForm table {
    width: 50%;
    float: right;
}

#approveForm table td {
    text-align: center;
}