<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('./part/head.ejs') %>

    <style>
        .schedule-board {
            text-align: left;
        }

        .schedule-board th {
            background: #f3f3f3;
        }

        .commute-board {
            text-align: center;
            font-size: 2rem;
        }

        .commute-board .count {
            font-size: 4rem;
            font-weight: bold;
        }

        .notice-board .notice-title {
            cursor: pointer;
            text-align: left;
        }

        .notice-board .notice-title span {
            color: #2940d3;
            font-size: 1.4rem;
        }

        .schedule-board td:hover,
        .notice-board .notice-title:hover {
            text-decoration: underline;
        }
    </style>
</head>

<header>
    <%- include ('./part/header.ejs') %>
</header>

<body>
<%- include ('./part/menu.ejs') %>
<div id="main">
    <div class="row" style="font-size: 2.5rem;font-weight: 600">
        2021 6월 7일 (월)
    </div>
    <div class="row" style="font-size: 2rem">
        <div class="col-lg" style="text-align: left">
            구이앤금우통신 - <span>MOTLAB</span>, <span>웹개발팀</span>
        </div>
        <div class="col-lg" style="text-align: right">
            총 직원 수: 3명
        </div>
    </div>

    <div class="row">
        <div class="col-xl content-box">
            <div class="title">주간일정</div>
            <div>
                <table class="schedule-board">
                    <tbody>
                    <tr>
                        <th width="20%">6월 7일</th>
                        <td width="80%">타이틀바, 메뉴바 css 작업</td>
                    </tr>
                    <tr>
                        <th>6월 8일</th>
                        <td>메인화면 출퇴근 업데이트</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl content-box">
            <div class="title">공지사항</div>
            <table class="notice-board">
                <thead>
                <tr>
                    <th width="10%">No</th>
                    <th width="50%">제목</th>
                    <th width="20%">작성자</th>
                    <th width="20%">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td class="notice-title">첫공지입니당 <span>(10)</span></td>
                    <td>임현주</td>
                    <td>2021.06.07</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row commute-board">
        <div class="col-md content-box"
             style="border-top: 5px solid blue;color: #1354d9">
            출근
            <div class="count">1</div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid orange; color: #e07c00">
            미출근
            <div class="count">1</div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid red;color: #bf0920">
            지각
            <div class="count">1</div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid green;color: #01853d">
            휴가
            <div class="count">0</div>
        </div>
    </div>

    <div class="row">
        <div class="col content-box">
            팀장, 부장 = 주간 출근, 미출근, 지각, 휴가 통계
        </div>
    </div>

    <div class="row">
        <div class="col content-box">
            팀원 = 주간 근무시간 통계
        </div>
    </div>
</div>
</body>

</html>

<script>

</script>