<!--출근 기록 요약-->
<div class="modal fade" id="attendanceModal" tabindex="-1"
     aria-labelledby="attendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 60rem !important;">
            <div class="modal-header">
                <div id="logTitle"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table-bordered">
                    <thead>
                    <tr>
                        <th>부서</th>
                        <th>이름</th>
                        <th>기록</th>
                    </tr>
                    </thead>
                    <tbody id="selectedList">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<!--정산해야 할 자재-->
<div class="modal fade" id="toolModal" tabindex="-1"
     aria-labelledby="toolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>장기자재 현황 이미지 업로드</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 3rem!important;">
                <form class="file-form" method="post" enctype="multipart/form-data">
                    <label class="btn btn-outline-secondary" for="toolFile">파일선택
                        <input id="toolFile" type="file" name="toolFile"
                               multiple="true" accept="image/jpeg, image/png">
                    </label>
                </form>
                <div id="addFileNameList" class="scroll">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" onclick="saveBoard()"
                        class="btn btn-secondary">
                    저장
                </button>
            </div>
        </div>
    </div>
</div>


<!--지표 관리-->
<div class="modal fade" id="evaluationModal" tabindex="-1"
     aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>지표 관리 이미지 업로드</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 3rem!important;">
                <form class="file-form" method="post" enctype="multipart/form-data">
                    <label class="btn btn-outline-secondary" for="evaluationFile">파일선택
                        <input id="evaluationFile" type="file" name="evaluationFile" accept="image/jpeg, image/png">
                    </label>
                    <span class="evaluation-file-name" id="evaluationSelectFileName"></span>
                </form>
                <div class="evaluation-file">
                    <img id="evaluationSelectFile"/>
<!--                    <button class="btn btn-sm btn-danger"-->
<!--                            onclick="deleteEvaluationImage()">삭제</button>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" onclick="saveEvaluation()"
                        class="btn btn-secondary">
                    저장
                </button>
            </div>
        </div>
    </div>
</div>
