<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>구이앤금우통신</title>

    <%- include ('./part/head.ejs') %>
</head>

<header>
    <%- include ('./part/header.ejs') %>
</header>

<body>
메인
</body>

</html>

<script>

</script>