<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>구이앤금우통신</title>

    <%- include ('./part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
<div class="login-card">
    <h1>구이앤금우통신</h1>

    <input type="text" id="memberId" placeholder="아이디">
    <input type="password" id="password" placeholder="비밀번호">
    <button type="submit" id="login" class="login login-submit">로그인</button>

    <div class="login-help">
        <a href="#">아이디찾기</a> | <a href="#">비밀번호찾기</a>
    </div>
</div>
</body>

</html>

<script>

    const token = $.cookie("token");

    // 이미 로그인된 상태
    if(token !== undefined && token != "null") {
        location.href = "/";
    }

    //로그인버튼
    $("#login").click(function () {

        let loginData = new Object();
        loginData.memberId = $("#memberId").val();
        loginData.password = $("#password").val();

        // ajax 통신
        $.ajax({
            type: "POST",
            url: 'https://api.leescode.com/account/login',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(loginData),
            success: function (res) {
                $.cookie('token', res.accessToken, { expires: 1, path: '/' });
                $.cookie('id', loginData.memberId);

                location.href = '/';
                console.log(res);
            },
            error: function (err) {
                console.log(err.status);
                alert('등록되지 않은 아이디이거나, 잘못된 비밀번호입니다.');
            }
        });
    });
</script>