header {
    box-shadow: 0px 0px 10px #dddddd;
}

header .title-bar {
    position: relative;
    vertical-align: middle !important;
}

header .title-bar img {
    padding: 0.5rem;
    cursor: pointer;
}

header .title-bar .btn {
    position: absolute;
    top: 25%;
    right: 1.5rem;
    background: #054499;
    color: white;
    border: none;
    font-size: 1.4rem !important;
}

.side-bar {
    float: left;
    width: 20rem;
    height: calc(100% - 6rem);
    background: #0a336e;
    color: white;
    padding: 2rem 0;
    overflow-y: auto;
}

/* 스크롤바 설정*/
.side-bar::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.side-bar::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #5a759d;
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.side-bar::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.25);
}


#nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav ul.menu span {
    margin-right: 0.6rem;
    font-size: 1.6rem;
    vertical-align: middle !important;
}

#nav ul.menu li {
    position: relative;
    float: left;
    width: 100%;
    list-style-type: none;
}

#nav ul.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-indent: 2rem;
    text-decoration: none;
    color: #b6c2d4;
    font-size: 1.5rem;
}

#nav ul.menu li a:hover,
#nav ul.menu li a:focus {
    background: #054499;
    color: white;
    border-left: #666666 5px solid;
}

#nav ul.menu li .sub a {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    background: #0b3777;
    line-height: 3.5rem;
    text-indent: 4rem;
    font-size: 1.3rem;
}

#nav ul.menu li .sub a:hover {
    color: white;
    border: none;
}
