.attendance-board .content-box:not(:last-child) {
    margin-right: 1.5rem !important;
}

.company-info {
    font-size: 2rem;
}

/*춭퇴근기록 찍기*/
.attendance-self .btn {
    font-size: 1.8rem !important;
    padding: 1rem 0 !important;
    border-radius: 10%;
}

.attendance-self img {
    width: 48px;
    height: 48px;
}

.attendance-self {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 7rem);
}

.attendance-self .attendance-self-btns {
    width: fit-content;
    margin: 1rem;
}

.attendance-self .attendance-self-time {
    width: 45rem;
    max-width: 45rem;
}

.attendance-self .btn {
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    min-height: 10rem;
}

.attendance-self table td {
    font-size: 2rem;
    padding: 2rem;
    vertical-align: middle;
}

/*출퇴근 기록*/
.attendance-board {
    display: none;
    text-align: center;
    font-size: 2rem;
}

.attendance-board .col-md {
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.attendance-board .col-md:hover,
.attendance-board .col-md:focus {
    box-shadow: 0 0 5px #cbcbcb;
}

.attendance-board .on-work {
    /*border-top: 5px solid #105af1;*/
    background: rgba(16, 90, 241, 0.15);
    color: #1354d9;
}

.attendance-board .late-work {
    /*border-top: 5px solid #ffb43d;*/
    background: rgba(255, 180, 61, 0.15);
    color: #f3a01a;
}

.attendance-board .yet-work {
    /*border-top: 5px solid #767676;*/
    background: rgba(118, 118, 118, 0.15);
    color: #6c6c6c;
}

.attendance-board .off-work {
    /*border-top: 5px solid #fa0c0c;*/
    background: rgba(250, 12, 12, 0.15);
    color: #ea0404;
}

.attendance-board .vacation {
    /*border-top: 5px solid rgb(3, 161, 75);*/
    background: rgba(3, 161, 75, 0.15);
    color: #01853d;
}

.attendance-board .count {
    font-size: 4rem;
    font-weight: bold;
}

/*출퇴근 기록 직원 목록 자세히 보기*/
.selected-list {
    display: none;
}

.selected-list .member {
    display: flex;
}

.selected-list .dep {
    width: 15rem;
}

.selected-list .name {
    width: 20rem;
}

.selected-list .attendance {
    width: 40rem;
}

#logTitle {
    font-size: 2.5rem;
}

/*주간일정 달력*/
#calendar {
    max-height: 40rem
}

.fc-toolbar-chunk:last-child {
    display: none;
}

/*조직도*/
.organization-name {
    font-size: 2rem
}

.organization-content {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.organization-content .card {
    padding: 0;
    min-width: 25rem;
    width: 25rem;
    max-width: 25rem;
    margin: 5px
}

.organization-content .card-header {
    font-weight: bold;
}

.organization-content .card-body {
    font-size: 1.5rem
}

.time-size {
    font-size: 1.3rem
}

/*슬라이드*/
.carousel {
    width: 100%;
    /*margin: 0 auto 20px auto;*/
}

.carousel img {
    width: 100%;
    object-fit: cover;
    min-height: 38rem;
    height: 38rem;
    max-height: 38rem;
    cursor: pointer;
}

.slick-next, .slick-prev,
.slick-next:focus, .slick-next:hover,
.slick-prev:focus, .slick-prev:hover {
    height: 100%;
    width: 70px;
    z-index: 100;
    top: 50%;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5) !important;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-slide {
    margin: 10px;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}


.slick-prev:before,
.slick-next:before {
    color: black;
}

/*평가표*/
.evaluation-file {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.4rem;
}

.evaluation-file img {
    width: 100%;
    height: auto;
}

.evaluation-file button {
    float: right;
    margin-top: 6px;
}

.evaluation-file-name {
    font-size: 1.4rem;
    vertical-align: middle;
}

.evaluation-content {
    width: 100%;
    max-height: 40rem;
    overflow-y: auto;
    font-size: 1.4rem;
    color: gray;
}

#imgEvaluation {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/*정산해야 할 자재*/
.img-content {
    position: relative;
    width: 50%;
}

.img-content .upload-img {
    right: 0;
    top: 0;
    margin: 20px;
    position: absolute
}

#addFileNameList, #downLoadFileList {
    font-size: 1.4rem;
    padding: 1rem;
    height: 50rem;
    max-height: 50rem;
}

.preview-file {
    width: 300px;
    height: 120px;
    object-fit: cover;
}

.upload-file, .download-file {
    width: fit-content;
    background: white;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.upload-file {
    cursor: default;
}

.upload-file:hover {
    background: #f6f6f6;
}

.download-file {
    cursor: pointer;
}

.deleteBtn {
    font-size: 1.2rem;
    cursor: pointer;
    color: #ee0505;
    font-weight: bold;
    vertical-align: bottom;
}

.deleteBtn:hover {
    color: #f53c3c;
}

.empty-tool {
    font-size: 1.4rem;
    color: gray;
}

/*공지사항*/
.notice-box {
    min-height: 23rem;
}


@media screen and (min-width: 1350px) {
    .col-xl:not(:last-child) {
        margin-right: 1.5rem !important;
    }
}

@media screen and (max-width: 1350px) {
    .tool {
        width: 100%;
    }
}