#main .row {
    --bs-gutter-x: 0;
    width: 120rem;
    display: block;
}

.schedule-board .title {
    font-size: 2.5rem;
    font-weight: bold;
}

#myVacationList tr {
    cursor: pointer;
}

#myVacationList tr:hover {
    background: #f8f9ff;
}