/*나눔고딕*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:300,400,500,600,700,800');

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic';
    overflow: hidden;
}

html {
    font-size: 10px;
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}

body {
    font-size: 1.6rem !important;
}

.btn {
    font-size: 1.5rem !important;
}

#main {
    padding: 4rem 7rem;
    float: left;
    width: calc(100% - 20rem);
    height: 100%;
    overflow: auto !important;
}

#main .col, #main .row,
#main .col-md, #main .col-lg {
    padding: 0;
    margin: 0;
}

.table {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: #DCDCDC;
}

.content-box {
    border: 1px solid #CCCCCC;
    padding: 1.5rem !important;
    margin: 1.5rem 0 !important;
}

.content-box:not(:last-child) {
    margin-right: 1.5rem !important;
}

.content-box .title {
    font-size: 1.8rem;
    padding: 0;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #2940d3;
}

table th {
    font-weight: 600;
}

table th, table td {
    padding: 0.5rem 1rem;
}

table tr {
    border-bottom: 1px solid #DCDCDC;
}

table thead {
    color: #343434;
    background: #f3f3f3;
}