#main .row {
    width: 80rem;
    display: block;
}

#memberList tr,
#departmentList tr {
    cursor: pointer;
}

#memberList tr:hover,
#departmentList tr:hover,
#memberGroup tr:hover,
#otherGroup tr:hover {
    background: #f8f9ff;
}

input {
    text-align: center;
}

#createDep {
    width: 100%;
}

#headCount {
    padding: 0;
}

.member-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    padding: 2rem;
}

.member-box {
    width: 45%;
    height: 45rem;
}

.member-box .title {
    margin-bottom: 1rem
}

.dep-member-table {
    height: 38rem;
    max-height: 38rem;
}

.select-box {
    width: 10%;
    text-align: center;
}

.select-box button {
    margin: 2px;
    padding: 0.5rem 1rem;
}

.leader {
    font-weight: bold;
}

.leader-notice {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    padding: 0;
}