#main .row {
    width: 80rem;
    display: block;
    --bs-gutter-x: 0;
}

#memberList tr,
#departmentList tr {
    cursor: pointer;
}

#memberList tr:hover,
#departmentList tr:hover,
#memberGroup tr:hover,
#otherGroup tr:hover {
    background: #f9f9f9;
}

input {
    text-align: center;
}

.excel-table input {
    width: 15rem;
}

#createDep {
    width: 100%;
}

#headCount {
    padding: 0;
}

.member-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    padding: 2rem;
}

.member-box {
    width: 45%;
    height: 45rem;
}

.member-box .title {
    margin-bottom: 1rem
}

.dep-member-table {
    height: 38rem;
    max-height: 38rem;
}

.select-box {
    width: 10%;
    text-align: center;
}

.select-box button {
    margin: 2px;
    padding: 0.5rem 1rem;
}

.leader {
    font-weight: bold;
}

.leader-notice {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    padding: 0;
}

.btn-row {
    margin: 0 !important;
}

.btn-row div {
    display: inline-block;
    line-height: 40px;
}

.btn-row div button {
    vertical-align: bottom;
}

.record-search {
    display: flex;
    align-items: center;
    width: fit-content;
    float: right;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.record-search input {
    width: fit-content
}

.record-guide {
    line-height: 24px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ea0404;
    text-decoration: underline;
}

#recordList .record-num {
    font-size: 1.4rem;
}