#main .row {
    --bs-gutter-x: 0;
    display: block;
}

.vacation .row {
    width: 120rem !important;
}

.vacation-apply > .row {
    width: 80rem !important;
    margin-bottom: 1rem !important;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem !important;
}

#confirmVacationList tr,
#beforeVacationList tr{
    cursor: pointer;
}

#confirmVacationList tr:hover,
#beforeVacationList tr:hover{
    background: #f8f9ff;
}

.vacation-apply-table th,
.vacation-apply-table td {
    padding: 1rem;
}

.vacation-apply-table th {
    width: 20rem;
}

.vacation-apply-table td {
    text-align: left;
}

textarea {
    width: 100%;
    height: 20rem;
}