.row {
    --bs-gutter-x: 0;
}

table {
    text-align: left;
}

#myScheduleList .schedule-title {
    cursor: pointer;
}

#myScheduleList .schedule-title:hover,
#myScheduleList .schedule-title:focus,
#myScheduleList .schedule-title:active {
    text-decoration: underline;
}

.schedule-board .title {
    font-size: 2.5rem;
    padding: 0;
    font-weight: bold;
}

.schedule-board .time {
    font-size: 1.4rem;
    padding: 0;
}

.schedule-board .memo {
    padding: 0.5rem 1rem !important;
}

#createTitle, #createMemo {
    width: 100%;
}

.schedule-write input[type=text],
.schedule-write textarea {
    width: 100%;
}

.schedule-write textarea {
    min-height: 20rem;
    height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
}

.schedule-write select {
    width: 10rem;
}

.schedule-write input[type=date],
.schedule-write input[type=time] {
    width: 13rem;
}