#main .row {
    --bs-gutter-x: 0;
    display: block;
}

.vacation .row,
.vacation-apply .row,
.vacation-view .row {
    width: 80rem !important;
    margin-bottom: 1rem !important;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem !important;
}

#confirmVacationList tr,
#beforeVacationList tr {
    cursor: pointer;
}

#confirmVacationList tr:hover,
#beforeVacationList tr:hover {
    background: #f8f9ff;
}

.vacation-apply .bottom {
    float: right;
    width: fit-content;
    margin: 2rem 0;
}

#approver1, #approver2 {
    text-align: center;
}

#endView {
    display: none;
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
    opacity: 1;
}

.btn-outline-success {
    cursor: default !important;
    pointer-events: none;
}