header {
    box-shadow: 0px 0px 10px #dddddd;
}


/*타이틀바 헤더*/
.title-bar {
    width: 100%;
    height: 6rem;
    vertical-align: middle !important;
    display: inline-block;
}

.title-bar .title-bar-left {
    padding: 0.5rem;
    cursor: pointer;
    float: left;
}

.title-bar .title-bar-right {
    float: right;
    height: 100%;
    line-height: 6rem;
    margin-right: 2rem;
}

.title-bar .btn {
    font-size: 1.4rem !important;
}

.title-bar .btn-primary {
    background: #054499;
    border: 1px solid #054499;
    color: white;
}

.title-bar .btn-outline-primary {
    border: 1px solid #054499;
    color: #054499;
}

.title-bar .btn-outline-primary:hover {
    border: 1px solid #054499;
    background: #054499;
    color: white;
}


/*사이드바 메뉴*/
.side-bar {
    float: left;
    width: 20rem;
    height: calc(100% - 6rem);
    background: #0a336e;
    color: white;
    padding: 2rem 0;
    overflow-y: auto;
}

#nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav ul.menu span {
    margin-right: 0.6rem;
    font-size: 1.6rem;
    vertical-align: middle !important;
}

#nav ul.menu li {
    position: relative;
    float: left;
    width: 100%;
    list-style-type: none;
}

#nav ul.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-indent: 2rem;
    text-decoration: none;
    color: #b6c2d4;
    font-size: 1.5rem;
}

#nav ul.menu li a:hover,
#nav ul.menu li a:focus {
    background: #054499;
    color: white;
    border-left: #666666 5px solid;
}

#nav ul.menu li .sub a {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    background: #0b3777;
    line-height: 3.5rem;
    text-indent: 4rem;
    font-size: 1.3rem;
}

#nav ul.menu li .sub a:hover {
    color: white;
    border: none;
}

#loading {
    z-index: 100000;
}

#loading img {
    border: 0;
    position: absolute;
    left: 50%;
    top: 50%;
}
