header {
    box-shadow: 0px 0px 10px #dddddd;
}

/*타이틀바 헤더*/
.title-bar {
    width: 100%;
    height: 6rem;
    vertical-align: middle !important;
    display: inline-block;
}

.title-bar .title-bar-left {
    padding: 5px;
    cursor: pointer;
    float: left;
}

.title-bar .title-bar-right {
    float: right;
    height: 100%;
    line-height: 6rem;
    margin-right: 2rem;
}

.title-bar .btn {
    font-size: 1.4rem !important;
}

.title-bar .btn-success {
    background: #2f5f4c;
    border: 1px solid #2f5f4c;
    color: white;
}

.title-bar .btn-success:hover {
    background: #386f59;
    border: 1px solid #386f59;
}

.title-bar .btn-outline-success {
    border: 1px solid #2f5f4c;
    color: #2f5f4c;
}

.title-bar .btn-outline-success:hover {
    border: 1px solid #386f59;
    background: #386f59;
    color: white;
}

.title-bar .name {
    font-size: 1.3rem;
    margin: 0 1rem;
    color: #444444;
}

.title-bar .name span {
    font-size: 1.5rem;
    font-weight: bold;
}


/*사이드바 메뉴*/
.side-bar {
    float: left;
    width: 20rem;
    height: calc(100% - 6rem);
    background: #2f5f4c;
    color: white;
    padding: 2rem 0;
    overflow-y: auto;
}

#nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav ul.menu span {
    margin-right: 0.6rem;
    font-size: 1.6rem;
    vertical-align: middle !important;
}

#nav ul.menu li {
    position: relative;
    float: left;
    width: 100%;
    list-style-type: none;
}

#nav ul.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-indent: 2rem;
    text-decoration: none;
    color: #cdcdcd;
    font-size: 1.5rem;
}

#nav ul.menu li a:hover,
.main-menu-active {
    background: #386f59;
    color: white !important;
    border-left: #bababa 5px solid;
}

#nav ul.menu li .sub a {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    background: #346652;
    line-height: 3.5rem;
    text-indent: 4rem;
    font-size: 1.3rem;
}

#nav ul.menu li .sub a:hover,
.side-menu-active {
    color: white !important;
    border: none;
}

#loading img {
    border: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100000;
}
