/*나눔고딕*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:300,400,500,600,700,800');

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic';
}

html {
    font-size: 10px;
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}

body {
    font-size: 1.6rem !important;
    display: block;
    min-width: 90rem !important;
    overflow: auto !important;
}

#main {
    padding: 4rem 7rem;
    float: left;
    width: calc(100% - 20rem);
    height: calc(100% - 6rem);
    overflow: auto !important;
}

#main .col, #main .row,
#main .col-md, #main .col-lg {
    padding: 0;
    margin: 0;
    width: 100%;
}

.btn {
    width: fit-content !important;
    font-size: 1.5rem !important;
}

#main .btn {
    padding: 0.5rem 1.5rem;
}

.content-box {
    border: 1px solid #CCCCCC;
    padding: 1.5rem !important;
    margin: 1rem 0 !important;
}

.content-box .content-box-title {
    font-size: 1.8rem;
    padding: 0;
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #2940d3;
    font-size: 1.5rem;
    height: fit-content;
}

table th {
    font-weight: 600;
}

table th, table td {
    padding: 0.5rem 1rem;
}

table tr {
    border-bottom: 1px solid #DCDCDC;
}

table thead, table th {
    color: #343434;
    background: #f3f3f3;
}

.table-bordered {
    border-color: #DCDCDC !important;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem !important;
}

input, select, textarea {
    border: 1px solid #DCDCDC;
    outline: none;
}

/* 스크롤바 설정*/

.scroll {
    overflow: auto;
}

.scroll::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar {
    width: 6px;
}

/* 스크롤바 막대 설정*/
.scroll::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #5a759d;
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.scroll::-webkit-scrollbar-track,
.fc-scroller::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.25);
}

.modal .modal-header {
    font-size: 2rem !important;
}

.modal .modal-header,
.modal .modal-body {
    padding: 1rem 2rem !important;
}

/*fullcalendar*/
.fc .fc-toolbar-title {
    font-size: 2rem !important;
    font-weight: 600;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1rem !important;
}

.fc .fc-button {
    font-size: 1.4rem !important;
    padding: 0.5rem 1rem;
}

.fc .fc-prev-button,
.fc .fc-next-button {
    padding: 0.5rem !important;
}

.fc .fc-list-day-side-text {
    /*float: left !important;*/
    /*color: black !important;*/
}

.fc .fc-list-day-text {
    margin-left: 0.7rem;
    float: right !important;
    /*color: black !important;*/
}

.fc .fc-day-sun .fc-daygrid-day-number,
.fc .fc-day-sun .fc-col-header-cell-cushion {
    color: #ef0202 !important;
}

.fc .fc-day-sat .fc-daygrid-day-number,
.fc .fc-day-sat .fc-col-header-cell-cushion {
    color: #1354d9 !important;
}

.fc a {
    text-decoration: none;
    color: black;
}

.fc a:hover {
    color: black;
}

.fc-theme-standard .fc-list-day-cushion {
    background: none !important;
    width: fit-content !important;
}

.fc-list-table th {
    background: #f3f3f3 !important;
}

.fc-daygrid-event:hover,
.fc-event-main .fc-event-title:hover {
    text-decoration: underline !important;
}

.fc-list-event-title {
    text-align: left !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.fc-event-main-frame {
    text-indent: 3px;
}

.fc-event-main-frame .fc-event-time {
    display: none;
}

.fc-h-event .fc-event-title-container,
.fc-daygrid-dot-event .fc-event-title {
    flex-grow: 0 !important;
}

.select2-container {
    font-size: 1.2rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container .select2-selection--multiple {
    border-color: #DCDCDC !important;
    min-height: 0 !important;
}

.board {
    table-layout: fixed;
}

.board .board-title {
    width: 100%;
    cursor: pointer;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board .board-title:hover {
    text-decoration: underline;
}

.board .board-no {
    font-size: 1.3rem;
}

/*승인 테이블*/
.apply-table th,
.apply-table td {
    padding: 1rem;
}

.apply-table th {
    width: 20rem;
}

.apply-table td {
    text-align: left;
}

.apply-table textarea {
    width: 100%;
}

.apply-table #memo {
    height: 20rem;
    min-height: 20rem;
    max-height: 40rem;
    text-align: left;
    vertical-align: top;
}

.apply-table #reject {
    height: 10rem;
    min-height: 10rem;
    max-height: 20rem;
    text-align: left;
    vertical-align: top;
}

.empty-tr {
    cursor: default
}

.badge-btn {
    cursor: pointer;
}

.badge-btn:hover {
    background-color: gray !important;
}