#main .row {
    width: 80rem;
    display: block;
}

.important {
    background-color: #fcf5f5;
}

.important .board-title {
    color: #ff4e59;
    font-weight: bold;
}

.reference-form {
    float: right;
    width: fit-content;
    font-size: 1.4rem;
    color: midnightblue;
    font-weight: bold;
}

.board .read {
    color: gray;
}

.board-form {
    display: inline-block !important;
    margin: 1rem 0 4rem !important;
}

.board-form .input-group {
    float: right;
    width: 40rem;
    padding: 0;
}

.board-form .input-group .form-select,
.board-form .input-group .form-control {
    font-size: 1.4rem !important;
    height: 34px;
}

.board-form .input-group .form-select {
    max-width: 10rem;
}

.board-form .btn {
    font-size: 1.4rem !important;
}

.board-form #writeBtn {
    float: left;
}

.board-detail {
    text-align: left;
}

.board-detail #content {
    padding: 2rem;
    vertical-align: top;
    height: 30rem;
    min-height: 30rem;
}

.board-detail .file {
    color: dimgrey;
}

.board-detail .file:hover,
.board-detail .file:focus{
    color: black;
}

.btn-row {
    display: inline-block;
    margin: 1rem 0 !important;
}

.btn-row div{
    padding: 0 !important;
    width: fit-content;
}

.btn-row div:first-child {
    float: left;
}

.btn-row div:last-child {
    float: right;
}