#main .row {
    width: 80rem;
    display: block;
}

.reference-form {
    float: right;
    width: fit-content;
    font-size: 1.4rem;
    color: midnightblue;
    font-weight: bold;
}

.board .read {
    color: gray;
}

.board-form {
    display: inline-block !important;
    margin: 1rem 0 !important;
}

.board-form .input-group {
    float: left;
    width: 40rem;
    padding: 0;
}

.board-form .input-group .form-select,
.board-form .input-group .form-control {
    font-size: 1.4rem !important;
    height: 34px;
}

.board-form .input-group .form-select {
    max-width: 10rem;
}

.board-form .btn {
    font-size: 1.4rem !important;
}

.board-form #writeBtn {
    float: right;
}

.board-detail, .board-write {
    text-align: left;
}

.board-detail #content {
    padding: 2rem;
    vertical-align: top;
    height: 30rem;
    min-height: 30rem;
}

.board-detail .file {
    color: dimgrey;
}

.board-detail .file:hover,
.board-detail .file:focus {
    color: black;
}

.board-write input {
    width: 100%;
}

.board-write #boardTextCount {
    float: right;
    font-size: 1.3rem;
}

#addFileNameList, #downLoadFileList {
    font-size: 1.4rem;
    padding: 1rem;
    max-height: 10rem;
}

.upload-file, .download-file {
    width: fit-content;
    background: #e5eeeb;
    border: 1px solid white;
}

.upload-file {
    cursor: default;
}

.upload-file:hover {
    background: #ebf6f2;
}

.download-file {
    cursor: pointer;
}

.deleteBtn {
    font-size: 1.2rem;
    cursor: pointer;
    color: #ee0505;
    font-weight: bold;
}

.deleteBtn:hover {
    color: #f53c3c;
}