#main .row {
    --bs-gutter-x: 0;
    display: block;
    width: 80rem !important;
}

#applyMyEquipmentList input[type=text] {
    width: 100%;
}

.equipment-table tr{
    cursor: pointer;
}

.equipment-table tr:hover{
    background: #f9f9f9;
}

.equipment-table .no,
.table-bordered .no{
    font-size: 1.3rem;
}

.equipment-table .yet-state {
    color: gray;
}

.writer {
    margin-bottom: 5px;
}

.memo {
    font-size: 1.3rem;
    max-width: 20rem;
    word-break: break-all;
}